<?xml version="1.0" encoding="UTF-8"?>
<!-- <beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:task="http://www.springframework.org/schema/task"
	   xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
       default-autowire="no"> -->

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/task
                           http://www.springframework.org/schema/task/spring-task.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd"
	   default-autowire="no">



	<!--
		load properties from additional property files; carlos.properties is
		already loaded
	-->
	<aop:aspectj-autoproxy proxy-target-class="true"/>

	<bean class="io.github.carlos_emr.carlos.config.ServletContextConfig"/>
    <!-- Enable annotation-driven transaction management with CGLIB proxies -->
    <tx:annotation-driven proxy-target-class="true"/>
	<bean id="propertyConfigurer" class="io.github.carlos_emr.carlos.commn.OscarPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:carlos.properties</value>
			</list>
		</property>
	</bean>

	<!-- setup JPA -->
	<import resource="classpath:spring_jpa.xml" />

	<!-- setup hibernate -->
	<import resource="classpath:spring_hibernate.xml" />

	<!-- setup managers -->
	<import resource="classpath:spring_managers.xml" />

	<!-- setup CXF -->
	<import resource="classpath:spring_ws.xml" />
	<!-- <context:component-scan base-package="io.github.carlos_emr.carlos.commn.dao" /> -->
	
	<!-- hibernated DAO -->
    <bean id="gstControlDao" class="io.github.carlos_emr.carlos.billing.CA.dao.GstControlDaoImpl" autowire="byName" />
	<bean id="programDao" class="io.github.carlos_emr.carlos.PMmodule.dao.ProgramDaoImpl" autowire="byName" />
	<bean id="programQueueDao" class="io.github.carlos_emr.carlos.PMmodule.dao.ProgramQueueDaoImpl" autowire="byName" />
	<bean id="clientReferralDAO" class="io.github.carlos_emr.carlos.PMmodule.dao.ClientReferralDAOImpl" autowire="byName" />
	<bean id="agencyDao" class="io.github.carlos_emr.carlos.PMmodule.dao.AgencyDaoImpl" autowire="byName" />
	<bean id="providerDao" class="io.github.carlos_emr.carlos.PMmodule.dao.ProviderDaoImpl" autowire="byName" />
	<bean id="otherIdDao" class="io.github.carlos_emr.carlos.commn.dao.OtherIdDAOImpl" autowire="byName" />

	<bean id="CaseManagementIssueDAO" class="io.github.carlos_emr.carlos.casemgmt.dao.CaseManagementIssueDAOImpl" autowire="byName" />
	<bean id="caseManagementIssueDAO" class="io.github.carlos_emr.carlos.casemgmt.dao.CaseManagementIssueDAOImpl" autowire="byName" />
	<bean id="CaseManagementNoteDAO" class="io.github.carlos_emr.carlos.casemgmt.dao.CaseManagementNoteDAOImpl" autowire="byName" />
	<bean id="caseManagementNoteDAO" class="io.github.carlos_emr.carlos.casemgmt.dao.CaseManagementNoteDAOImpl" autowire="byName" />
	<bean id="CaseManagementTmpSaveDao" class="io.github.carlos_emr.carlos.commn.dao.CaseManagementTmpSaveDaoImpl" autowire="byName" />
	<bean id="caseManagementTmpSaveDao" class="io.github.carlos_emr.carlos.commn.dao.CaseManagementTmpSaveDaoImpl" autowire="byName" />
	<bean id="CaseManagementNoteExtDAO" class="io.github.carlos_emr.carlos.casemgmt.dao.CaseManagementNoteExtDAOImpl" autowire="byName" />
	<bean id="CaseManagementNoteLinkDAO" class="io.github.carlos_emr.carlos.casemgmt.dao.CaseManagementNoteLinkDAOImpl" autowire="byName" />
	<bean id="CaseManagementCPPDAO" class="io.github.carlos_emr.carlos.casemgmt.dao.CaseManagementCPPDAOImpl" autowire="byName" />
	<bean id="queueDao" class="io.github.carlos_emr.carlos.commn.dao.QueueDaoImpl" autowire="byName" />
	<bean id="waitingListNameDao" class="io.github.carlos_emr.carlos.commn.dao.WaitingListNameDaoImpl" autowire="byName" />
	
	
	
	 <bean id="appointmentArchiveDao" class="io.github.carlos_emr.carlos.commn.dao.AppointmentArchiveDaoImpl" autowire="byName" />
	<bean id="appointmentTypeDao" class="io.github.carlos_emr.carlos.commn.dao.AppointmentTypeDaoImpl" autowire="byName" />
	<bean id="billingONCHeader1Dao" class="io.github.carlos_emr.carlos.commn.dao.BillingONCHeader1DaoImpl" autowire="byName" />
	
	<bean id="DxDao" class="io.github.carlos_emr.carlos.commn.dao.DxDaoImpl" autowire="byName" />
	<bean id="CasemgmtNoteLockDao" class="io.github.carlos_emr.carlos.commn.dao.CasemgmtNoteLockDaoImpl" autowire="byName" />
	
	<bean id="AllergyDao" class="io.github.carlos_emr.carlos.commn.dao.AllergyMergedDemographicDaoImpl" autowire="byName" />
	<bean id="allergyDao" class="io.github.carlos_emr.carlos.commn.dao.AllergyMergedDemographicDaoImpl" autowire="byName" />
	<bean id="secRoleDao" class="io.github.carlos_emr.carlos.commn.dao.SecRoleDaoImpl" autowire="byName" />
	<bean id="IssueDAO" class="io.github.carlos_emr.carlos.casemgmt.dao.IssueDAOImpl" autowire="byName" />
	<bean id="secroleDao" class="io.github.carlos_emr.carlos.daos.security.SecroleDaoImpl" autowire="byName"/>
	<bean id="RoleProgramAccessDAO" class="io.github.carlos_emr.carlos.casemgmt.dao.RoleProgramAccessDAOImpl" autowire="byName" />
	<bean id="clientImageDAO" class="io.github.carlos_emr.carlos.casemgmt.dao.ClientImageDAOImpl" autowire="byName" />
	<bean id="programProviderDAO" class="io.github.carlos_emr.carlos.PMmodule.dao.ProgramProviderDAOImpl" autowire="byName" />
	<bean id="programFunctionalUserDAO" class="io.github.carlos_emr.carlos.PMmodule.dao.ProgramFunctionalUserDAOImpl" autowire="byName" />
	<bean id="programAccessDAO" class="io.github.carlos_emr.carlos.PMmodule.dao.ProgramAccessDAOImpl" autowire="byName" />
	<bean id="defaultRoleAccessDAO" class="io.github.carlos_emr.carlos.PMmodule.dao.DefaultRoleAccessDAOImpl" autowire="byName" />
	<bean id="programClientStatusDAO" class="io.github.carlos_emr.carlos.PMmodule.dao.ProgramClientStatusDAOImpl" autowire="byName" />
	<bean id="programTeamDAO" class="io.github.carlos_emr.carlos.PMmodule.dao.ProgramTeamDAOImpl" autowire="byName" />
	<bean id="demographicDao" class="io.github.carlos_emr.carlos.commn.dao.DemographicDaoImpl" autowire="byName" />
	<bean id="secUserRoleDao" class="io.github.carlos_emr.carlos.PMmodule.dao.SecUserRoleDaoImpl" autowire="byName"/>
	<bean id="programSignatureDao" class="io.github.carlos_emr.carlos.PMmodule.dao.ProgramSignatureDaoImpl" autowire="byName" />
	<bean id="programClientRestrictionDAO" class="io.github.carlos_emr.carlos.PMmodule.dao.ProgramClientRestrictionDAOImpl" autowire="byName" />
	<bean id="UserPropertyDAO" class="io.github.carlos_emr.carlos.commn.dao.UserPropertyDAOImpl" autowire="byName" />
	<!-- <bean id="demographicDao" class="io.github.carlos_emr.carlos.commn.dao.DemographicDaoImpl" autowire="byName" /> -->
	<bean id="dataExportDAO" class="io.github.carlos_emr.carlos.commn.dao.DataExportDaoImpl" autowire="byName" />
	<bean id="siteDao" class="io.github.carlos_emr.carlos.commn.dao.SiteDaoImpl" autowire="byName" />
	<bean id="BillingmasterDAO" class="io.github.carlos_emr.carlos.billings.ca.bc.data.BillingmasterDAO" autowire="byName" />
	<bean id="BillingPreferencesDAO" class="io.github.carlos_emr.carlos.billings.ca.bc.data.BillingPreferencesDAO" autowire="byName" />
	<bean id="PrivateBillTransactionDAO" class="io.github.carlos_emr.carlos.billings.ca.bc.data.PrivateBillTransactionsDAO" autowire="byName" />
	<bean id="SupServiceCodeAssocDAO" class="io.github.carlos_emr.carlos.billings.ca.bc.data.SupServiceCodeAssocDAO" autowire="byName" />
	<bean id="BillingreferralDAO" class="io.github.carlos_emr.carlos.commn.dao.BillingreferralDaoImpl" autowire="byName" />
	<bean id="DxresearchDAO" class="io.github.carlos_emr.carlos.commn.dao.DxresearchDAOImpl" autowire="byName" />
	<bean id="icd9Dao" class="io.github.carlos_emr.carlos.commn.dao.Icd9DaoImpl" autowire="byName" />
	<bean id="defaultIssueDao" class="io.github.carlos_emr.carlos.daos.DefaultIssueDaoImpl" autowire="byName" />
	
	<bean id="rourke2009Dao" class="io.github.carlos_emr.carlos.commn.dao.forms.Rourke2009DAO" autowire="byName" />

	<bean id="lookupDao" class="io.github.carlos_emr.carlos.daos.LookupDaoImpl" autowire="byName" />
	<bean id="documentDao" class="io.github.carlos_emr.carlos.commn.dao.DocumentMergeDemographicDAOImpl" autowire="byName" />
	<bean id="userAccessDao" class="io.github.carlos_emr.carlos.daos.security.UserAccessDaoImpl" autowire="byName" />
	<bean id="demographicExtDao" class="io.github.carlos_emr.carlos.commn.dao.DemographicExtDaoImpl" autowire="byName" />
	<bean id="providerDefaultProgramDao" class="io.github.carlos_emr.carlos.commn.dao.ProviderDefaultProgramDaoImpl" autowire="byName" />
	<bean id="providerInboxRoutingDAO" class="io.github.carlos_emr.carlos.commn.dao.ProviderInboxRoutingDaoImpl" autowire="byName"/>
	<bean id="ProviderLabRoutingFavoritesDao" class="io.github.carlos_emr.carlos.commn.dao.ProviderLabRoutingFavoritesDaoImpl" autowire="byName"/>

        <bean id="queueDocumentLinkDAO" class="io.github.carlos_emr.carlos.commn.dao.QueueDocumentLinkDaoImpl" autowire="byName"/>

	<bean id="inboxResultsDao" class="io.github.carlos_emr.carlos.commn.dao.InboxResultsDaoImpl" autowire="byName" />
    <bean id="inboxResultsRepository" class="io.github.carlos_emr.carlos.commn.dao.InboxResultsRepositoryImpl" autowire="byName" />
    <bean id="securityDao" class="io.github.carlos_emr.carlos.commn.dao.SecurityDaoImpl" autowire="byName" />
    <bean id="oscarLogDao" class="io.github.carlos_emr.carlos.commn.dao.OscarLogDaoImpl" autowire="byName" />
    <bean id="providerPreferenceDao" class="io.github.carlos_emr.carlos.commn.dao.ProviderPreferenceDaoImpl" autowire="byName" />
    <bean id="EFormDao" class="io.github.carlos_emr.carlos.commn.dao.EFormDaoImpl" autowire="byName" />
    <bean id="encounterFormDao" class="io.github.carlos_emr.carlos.commn.dao.EncounterFormDaoImpl" autowire="byName" />
    <bean id="systemMessageDao" class="io.github.carlos_emr.carlos.commn.dao.SystemMessageDaoImpl" autowire="byName" />
    <bean id="billingPaymentTypeDao" class="io.github.carlos_emr.carlos.commn.dao.BillingPaymentTypeDaoImpl" autowire="byName" />
    <bean id="billingONPaymentDao" class="io.github.carlos_emr.carlos.commn.dao.BillingONPaymentDaoImpl" autowire="byName" />
	

	<!-- Dao classes that implement OscarSuperDao -->
	<bean id="providerSuperDao" class="io.github.carlos_emr.carlos.dao.ProviderDao" autowire="byName" />
	

	<bean id="eChartDao" class="io.github.carlos_emr.carlos.commn.dao.EChartDaoImpl" autowire="byName" />
	<bean id="encounterWindowDao" class="io.github.carlos_emr.carlos.commn.dao.EncounterWindowDaoImpl" autowire="byName" />

	<!-- OSCAR Desicion Support -->
	<bean id="dsService" class="io.github.carlos_emr.carlos.decisionSupport.service.DSServiceImpl">
	</bean>

	<!--Container for holding preventions -->
	<bean id="preventionMgr" class="io.github.carlos_emr.carlos.provider.model.PreventionManager"></bean>
  
	<!-- OscarSuperManager manager provides business logic facade for jsp layer -->
	<bean id="oscarSuperManager" class="io.github.carlos_emr.carlos.service.OscarSuperManagerImpl" autowire="byName" init-method="init"/>

	<bean id="lookupManager" class="io.github.carlos_emr.carlos.services.LookupManagerImpl" autowire="byName">
		<property name="lookupDao" ref="lookupDao" />
	</bean>
	<bean id="userAccessManager" class="io.github.carlos_emr.carlos.services.security.UserAccessManagerImpl" autowire="byName">
		<property name="userAccessDao" ref="userAccessDao" />
	</bean>

	<!-- configure the available measurement flow sheets -->
	<bean id="measurementTemplateFlowSheet" class="io.github.carlos_emr.carlos.encounter.oscarMeasurements.MeasurementTemplateFlowSheetConfig">
		<property name="flowSheets">
			<list>
				<!--value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/diabetesFlowsheet.xml</value-->
				<!--value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/hypertensionFlowsheet.xml</value-->
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/hivFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/inrFlowsheet.xml</value>
				<!--value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdChf.xml</value-->
				<!--value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/inrFlowsheet2.xml</value-->


				<!--<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/physicalFunctionFlowsheet.xml</value -->
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdAsthmaFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdCOPDFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdChf.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdHypertensionFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdDiabetesFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/diabetesQueensFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/ckdFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/painAssistant.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/periodicHealthVisit.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/hepCFlowsheet.xml</value>
				
			</list>
		</property>
	</bean>

	<!-- managers  -->
	<bean id="agencyManager" class="io.github.carlos_emr.carlos.PMmodule.service.AgencyManagerImpl" autowire="byName" />
	<bean id="facilityMessageManager" class="io.github.carlos_emr.carlos.services.OrganizationMessageManagerImpl">
	</bean>

	<!-- Manager classes -->
	<bean id="programQueueManager" class="io.github.carlos_emr.carlos.PMmodule.service.ProgramQueueManagerImpl" autowire="byName" />
	<bean id="admissionManager" class="io.github.carlos_emr.carlos.PMmodule.service.AdmissionManagerImpl" autowire="byType" />
	
	<bean id="caseManagementManager" class="io.github.carlos_emr.carlos.casemgmt.service.CaseManagementManagerImpl" autowire="byName">
		<property name="caseManagementNoteDAO" ref="CaseManagementNoteDAO" />
		<property name="caseManagementNoteExtDAO" ref="CaseManagementNoteExtDAO" />
		<property name="caseManagementNoteLinkDAO" ref="CaseManagementNoteLinkDAO" />
		<property name="caseManagementIssueDAO" ref="CaseManagementIssueDAO" />
		<property name="caseManagementTmpSaveDao" ref="CaseManagementTmpSaveDao" />
		<property name="caseManagementCPPDAO" ref="CaseManagementCPPDAO" />
		<property name="issueDAO" ref="IssueDAO" />
		<property name="demographicDao" ref="demographicDao" />
		<property name="roleProgramAccessDAO" ref="RoleProgramAccessDAO" />
		
		<property name="userPropertyDAO" ref="UserPropertyDAO" />
		<property name="rolesManager" ref="rolesManager" />
		<property name="admissionManager" ref="admissionManager" />
		<property name="enabled" value="${casemgmt.note.password.enabled}" />
		<property name="programManager" ref="programManager" />
		<property name="dxresearchDAO" ref="DxresearchDAO" />
		<property name="programProviderDao" ref="programProviderDAO" />
		<property name="programAccessDAO" ref="programAccessDAO" />
		<property name="eChartDao" ref="eChartDao"/>
		<property name="encounterWindowDao" ref="encounterWindowDao"/>
		
		<property name="appointmentArchiveDao" ref="appointmentArchiveDao" />
		<property name="dxDao" ref="DxDao" />
	</bean>

	<bean id="ClientImageManager" class="io.github.carlos_emr.carlos.casemgmt.service.ClientImageManagerImpl" autowire="byName" />
	<bean id="programManager" class="io.github.carlos_emr.carlos.PMmodule.service.ProgramManagerImpl" autowire="byName">
		<property name="enabled" value="${pmm.refer.temporaryAdmission.enabled}" />
	</bean>
	<bean id="clientManager" class="io.github.carlos_emr.carlos.PMmodule.service.ClientManagerImpl" autowire="byName">
		<property name="demographicDao" ref="demographicDao" />
		<property name="clientReferralDAO" ref="clientReferralDAO" />
		<property name="programQueueManager" ref="programQueueManager" />
		<property name="admissionManager" ref="admissionManager" />
		<property name="clientRestrictionManager" ref="clientRestrictionManager" />
		<property name="demographicExtDao" ref="demographicExtDao" />
		<property name="outsideOfDomainEnabled" value="${pmm.client.search.outside.of.domain.enabled}" />
	</bean>
  
 	<bean id="demographicManagerT" class="io.github.carlos_emr.carlos.services.DemographicManagerTickler">
		<property name="demographicDao" ref="demographicDao" />
	</bean>
	<bean id="preparedTicklerManagerT" class="io.github.carlos_emr.carlos.wl.prepared.PreparedTicklerManagerImpl" scope="singleton" />
	<bean id="providerManager" class="io.github.carlos_emr.carlos.PMmodule.service.ProviderManagerImpl" autowire="byName" />
	<bean id="clientRestrictionManager" class="io.github.carlos_emr.carlos.PMmodule.service.ClientRestrictionManagerImpl" autowire="byName" />

	<bean id="ectProgramManager" class="io.github.carlos_emr.carlos.encounter.data.EctProgramManagerImpl">
		<constructor-arg ref="demographicDao" />
		<constructor-arg ref="programProviderDAO" />
		<constructor-arg ref="providerDefaultProgramDao" />
		<constructor-arg ref="programDao" />
	</bean>
	
	<!-- Admin Start -->
	<bean id="secobjprivilegeDao" class="io.github.carlos_emr.carlos.daos.security.SecobjprivilegeDaoImpl" autowire="byName" />
	<bean id="secProviderDao" class="io.github.carlos_emr.carlos.daos.security.SecProviderDaoImpl" autowire="byName" />
	<bean id="secuserroleDao" class="io.github.carlos_emr.carlos.daos.security.SecuserroleDaoImpl" autowire="byName" />
        <bean id="secObjectNameDao" class="io.github.carlos_emr.carlos.daos.security.SecObjectNameDaoImpl" autowire="byName"/>

	<bean id="rolesManager" class="io.github.carlos_emr.carlos.services.security.RolesManagerImpl" autowire="byName">
		<property name="secroleDao" ref="secroleDao" />
		<property name="secobjprivilegeDao" ref="secobjprivilegeDao" />
	</bean>

	<bean id="drilldownQueryHandler" class="io.github.carlos_emr.carlos.dashboard.handler.DrilldownQueryHandler" autowire="byName" />
	<bean id="indicatorQueryHandler" class="io.github.carlos_emr.carlos.dashboard.handler.IndicatorQueryHandler" autowire="byName" />
	<bean id="exportQueryHandler" class="io.github.carlos_emr.carlos.dashboard.handler.ExportQueryHandler" autowire="byName" />
		
	<bean id="extPrintMeasurements" class="io.github.carlos_emr.carlos.casemgmt.service.MeasurementPrint" autowire="byName"/>

	<!-- Encounter Form DAO -->
	<bean id="Rourke2009DAO" class="io.github.carlos_emr.carlos.commn.dao.forms.Rourke2009DAO" autowire="byName"/>
	<bean id="FormBCAR2020Dao" class="io.github.carlos_emr.carlos.commn.dao.forms.FormBCAR2020Dao" autowire="byName"/>
	<bean id="FormBCAR2020DataDao" class="io.github.carlos_emr.carlos.commn.dao.forms.FormBCAR2020DataDao" autowire="byName"/>
	<bean id="FormBCAR2020TextDao" class="io.github.carlos_emr.carlos.commn.dao.forms.FormBCAR2020TextDao" autowire="byName"/>



	<!--<bean id="preventionMgr" class="io.github.carlos_emr.carlos.managers.PreventionManagerImpl"></bean>-->
	<!-- <bean id="allergyManager" class="io.github.carlos_emr.carlos.managers.AllergyManagerImpl"></bean>
	<bean id="programManager2" class="io.github.carlos_emr.carlos.managers.ProgramManager2Impl"></bean>
	<bean id="measurementManager" class="io.github.carlos_emr.carlos.managers.MeasurementManagerImpl"></bean>
	<bean id="prescriptionManager" class="io.github.carlos_emr.carlos.managers.PrescriptionManagerImpl"></bean>
	<bean id="formsManager" class="io.github.carlos_emr.carlos.managers.FormsManagerImpl"></bean>
	<bean id="drugDispensingManager" class="io.github.carlos_emr.carlos.managers.DrugDispensingManagerImpl"></bean>
	<bean id="drugProductManager" class="io.github.carlos_emr.carlos.managers.DrugProductManagerImpl"></bean>
	<bean id="rxManager" class="io.github.carlos_emr.carlos.managers.RxManagerImpl"></bean> -->
	<!-- <bean id="drugConverter" class="io.github.carlos_emr.carlos.webserv.rest.conversion.DrugConverterImpl"></bean>
	<bean id="prescriptionConverter" class="io.github.carlos_emr.carlos.webserv.rest.conversion.PrescriptionConverterImpl"></bean>
	<bean id="favoriteConverter" class="io.github.carlos_emr.carlos.webserv.rest.conversion.FavoriteConverterImpl"></bean> -->
	<!-- <bean id="consultationManager" class="io.github.carlos_emr.carlos.managers.ConsultationManagerImpl"></bean>
	<bean id="demographicManager" class="io.github.carlos_emr.carlos.managers.DemographicManagerImpl"></bean>
	<bean id="appManager" class="io.github.carlos_emr.carlos.managers.AppManagerImpl"></bean>
	<bean id="billingManager" class="io.github.carlos_emr.carlos.managers.BillingManagerImpl"></bean> -->
	<!--<bean id="admissionManager" class="io.github.carlos_emr.carlos.service.PMmodule.AdmissionManagerImpl"></bean> -->
	<!-- <bean id="drugLookUp" class="io.github.carlos_emr.carlos.managers.DrugLookUp"></bean>
	<bean id="documentManager" class="io.github.carlos_emr.carlos.managers.DocumentManagerImpl"></bean>
	<bean id="scheduleManager" class="io.github.carlos_emr.carlos.managers.ScheduleManagerImpl"></bean>
	<bean id="appointmentManager" class="io.github.carlos_emr.carlos.managers.AppointmentManagerImpl"></bean> -->
	<!--<bean id="providerManager" class="io.github.carlos_emr.carlos.service.PMmodule.ProviderManagerImpl"></bean>-->
	<!-- <bean id="preferenceManager" class="io.github.carlos_emr.carlos.managers.PreferenceManagerImpl"></bean>
	<bean id="demographicSetsManager" class="io.github.carlos_emr.carlos.managers.DemographicSetsManagerImpl"></bean>
	<bean id="eFormReportToolManager" class="io.github.carlos_emr.carlos.managers.EFormReportToolManagerImpl"></bean>
	<bean id="oscarJobManager" class="io.github.carlos_emr.carlos.managers.OscarJobManagerImpl"></bean>
	<bean id="ticklerManager" class="io.github.carlos_emr.carlos.managers.TicklerManagerImpl"></bean> -->
	<!-- <bean id="ticklerConverter" class="io.github.carlos_emr.carlos.webserv.rest.conversion.TicklerConverter"></bean>
<bean id="dSService" class="io.github.carlos_emr.carlos.decisionSupport.service.DSService"></bean> -->
<!--<bean id="programManager" class="io.github.carlos_emr.carlos.service.PMmodule.ProgramManagerImpl"></bean>-->
<!-- <bean id="messagingManager" class="io.github.carlos_emr.carlos.managers.MessagingManagerImpl"></bean>
<bean id="dashboardManager" class="io.github.carlos_emr.carlos.managers.DashboardManagerImpl"></bean>
<bean id="oscarLogManager" class="io.github.carlos_emr.carlos.managers.OscarLogManagerImpl"></bean>
<bean id="patientConsentManager" class="io.github.carlos_emr.carlos.managers.PatientConsentManagerImpl"></bean> -->
<!-- <bean id="messagingConverter" class="io.github.carlos_emr.carlos.webserv.rest.conversion.MessagingConverter"></bean> -->
<!-- <bean id="labManager" class="io.github.carlos_emr.carlos.managers.LabManagerImpl"></bean>
<bean id="inboxManager" class="io.github.carlos_emr.carlos.managers.InboxManagerImpl"></bean>
<bean id="appointmentSearchManager" class="io.github.carlos_emr.carlos.managers.AppointmentSearchManagerImpl"></bean>
<bean id="facilityManager" class="io.github.carlos_emr.carlos.managers.FacilityManagerImpl"></bean> -->
<!-- <bean id="vacancyTemplateManager" class="io.github.carlos_emr.carlos.service.PMmodule.VacancyTemplateManagerImpl"></bean> -->
 <!-- <bean id="eformDataManager" class="io.github.carlos_emr.carlos.managers.EformDataManagerImpl"></bean> -->
<!--<bean id="nioFileManager" class="io.github.carlos_emr.carlos.managers.NioFileManagerImpl"></bean> -->
<!-- <bean id="preventionDS" class="oscar.oscarPrevention.PreventionDSImpl"></bean> -->
<!-- <bean id="messengerDemographicManager" class="io.github.carlos_emr.carlos.managers.MessengerDemographicManagerImpl"></bean> -->
<!-- <bean id="documentAttachmentManager" class="io.github.carlos_emr.carlos.documentManager.DocumentAttachmentManagerImpl"></bean> -->
<!-- <bean id="faxDocumentManager" class="io.github.carlos_emr.carlos.managers.FaxDocumentManagerImpl"></bean> -->






	<!--Email Support -->
        <context:component-scan base-package="io.github.carlos_emr.carlos.service"/>

        <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor" p:corePoolSize="5"
          p:maxPoolSize="10" p:queueCapacity="100" p:waitForTasksToCompleteOnShutdown="true"/>

        <bean id="asyncMailSender" class="io.github.carlos_emr.carlos.service.AsyncMailSender" autowire="byName">
           <property name="taskExecutor" ref="taskExecutor" />
        </bean>

		<!--
			TODO: This mailing configuration will not be needed anymore as the new email feature (EmailManager)
			will store and fetch configurations directly from the database.
		-->
        <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
            <property name="host" value="${email.host}"/>
            <property name="port" value="${email.port}" />
            <property name="protocol" value="${email.protocol}" />
            <property name="username" value="${email.username}" />
            <property name="password" value="${email.password}" />

            <property name="javaMailProperties">
               <props>
                  <prop key="mail.smtp.auth">${email.smtp.auth:true}</prop>
                  <prop key="mail.smtp.starttls.enable">${email.starttls.enable:true}</prop>
               </props>
            </property>
        </bean>
		
		<bean id="eventService" class="io.github.carlos_emr.carlos.event.EventService"/>
		<bean id="applicationEventMulticaster" class="org.springframework.context.event.SimpleApplicationEventMulticaster">  
              <property name="taskExecutor">  
                  <!--  bean class="org.springframework.core.task.SimpleAsyncTaskExecutor"/ -->  
                  <bean class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor"/>
              </property>  
		</bean>
		
<!-- 		
		<task:executor id="taskExecutor" />
		-->
		<task:scheduler id="taskScheduler" />
		
		
</beans>
