<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2026 CARLOS Contributors. All Rights Reserved.

    This software is published under the GPL GNU General Public License.
    This program is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation; either version 2
    of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.

    CARLOS EMR Project
    https://github.com/carlos-emr/carlos
-->
<Configuration>
    <Appenders>
<!--        <File name="File" fileName="${catalina.base}/logs/openo.log" append="true">-->
<!--            <Log4j1XmlLayout />-->
<!--        </File>-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p %C{2} (%F:%L) - %m%n"/>
        </Console>
<!--        <RollingFile name="rollingFile"-->
<!--                     fileName="logs/openo.log" filePattern="logs/oscar-%d{yyyy-MM-dd-HH-mm}-%i.log">-->
<!--            <PatternLayout>-->
<!--                <Pattern>%d{yyyy-MM-dd-HH:mm:ss} %-5p %m%n</Pattern>-->
<!--            </PatternLayout>-->
<!--            <Policies>-->
<!--                <SizeBasedTriggeringPolicy size="10KB" />-->
<!--            </Policies>-->
<!--        </RollingFile>-->
        <RollingFile name="CsrfFile" fileName="${sys:catalina.base}/logs/csrf.log"
                     filePattern="${sys:catalina.base}/logs/csrf-%d{yyyy-MM-dd}-%i.log.gz"
                     append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %replace{%m}{[\r\n\t]}{_}%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.owasp.csrfguard" level="warn" additivity="false">
            <AppenderRef ref="CsrfFile"/>
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache.log4j.xml" level="error">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="openjpa.jdbc.SQL" level="error">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="${env:LOG_VERBOSITY:-error}">
            <AppenderRef ref="Console" />
<!--            <AppenderRef ref="File" />-->
        </Root>
    </Loggers>
</Configuration>