<?xml version="1.0" encoding="UTF-8"?>
<!-- <beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" default-autowire="no"> -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx.xsd"
       default-autowire="no">




	<!-- hibernate session factory -->
	<!-- 
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
	 -->
	<bean id="sessionFactory" class="io.github.carlos_emr.carlos.utility.SpringHibernateLocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingDirectoryLocations">
			<!-- only *.hbm.xml will be loaded -->
			<list>
				<value>classpath:/io/github/carlos_emr/carlos/model</value>
				<value>classpath:/io/github/carlos_emr/carlos/PMmodule/model</value>
				<value>classpath:/io/github/carlos_emr/carlos/casemgmt/model</value>
				<value>classpath:/io/github/carlos_emr/carlos/commn/model</value>
				<value>classpath:/com/quatro/model</value>
				<value>classpath:/io/github/carlos_emr/carlos/entities</value>
			</list>
		</property>
		<property name="annotatedClasses">
			<list>
       			<value>io.github.carlos_emr.carlos.commn.model.Admission</value>
       		</list>            		
 		</property>
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>
				<prop key="hibernate.cache.use_second_level_cache">false</prop>
				<prop key="hibernate.cache.use_query_cache">false</prop>
				<prop key="hibernate.flushMode">AUTO</prop>
				<prop key="hibernate.allow_update_outside_transaction">true</prop>
				<prop key="hibernate.hbm2ddl.auto">none</prop>
			</props>
		</property>
		
	</bean>

	<!-- <property name="eventListeners">
			<map>
				<entry key="merge">
					<bean class="org.springframework.orm.hibernate5.support.IdTransferringMergeEventListener" />
					<bean class="org.hibernate.event.internal.DefaultMergeEventListener" />
				</entry>
			</map>
		</property> -->

<!--
	<bean id="auditSessionFactory" class="io.github.carlos_emr.carlos.utility.SpringHibernateLocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:/io/github/carlos_emr/carlos/commn/model</value>
				<value>classpath:/org/caisi/model</value>
				<value>classpath:/io/github/carlos_emr/carlos/PMmodule/model</value>
				<value>classpath:/io/github/carlos_emr/carlos/casemgmt/model</value>
				<value>classpath:/com/quatro/model</value>
				<value>classpath:/oscar/appt/status/model</value>
				<value>classpath:/oscar/rx/model</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>
				<prop key="hibernate.cache.use_second_level_cache">false</prop>
				<prop key="hibernate.cache.use_query_cache">false</prop>
			</props>
		</property>
	</bean>
-->
</beans>
