<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
       default-autowire="no">



	<!--
		load properties from additional property files; carlos.properties is
		already loaded
	-->
	<!-- <bean id="hibernateTemplateTest" class="io.github.carlos_emr.carlos.commn.dao.HibernateTemplateTest"> </bean> -->

	<bean id="propertyConfigurer" class="io.github.carlos_emr.carlos.commn.OscarPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:carlos.properties</value>
			</list>
		</property>
	</bean>

	<!-- setup JPA -->
	<!-- <import resource="classpath:spring_jpa_test.xml" /> -->
	
	<import resource="classpath:spring_jpa_test.xml"/>

	<!-- setup hibernate -->
	<import resource="classpath:spring_hibernate_test.xml" />

<!-- hibernated DAO -->
        <bean id="gstControlDao" class="io.github.carlos_emr.carlos.billing.CA.dao.GstControlDao" autowire="byName" />
	<bean id="programDao" class="io.github.carlos_emr.carlos.PMmodule.dao.ProgramDao" autowire="byName" />
	<bean id="programQueueDao" class="io.github.carlos_emr.carlos.PMmodule.dao.ProgramQueueDao" autowire="byName" />
	<bean id="clientReferralDAO" class="io.github.carlos_emr.carlos.PMmodule.dao.ClientReferralDAO" autowire="byName" />
	<bean id="agencyDao" class="io.github.carlos_emr.carlos.PMmodule.dao.AgencyDao" autowire="byName" />
	<!-- bean id="admissionDao" class="io.github.carlos_emr.carlos.commn.dao.AdmissionDao" autowire="byName" /-->
	<bean id="providerDao" class="io.github.carlos_emr.carlos.PMmodule.dao.ProviderDaoImpl" autowire="byName" />
	<bean id="otherIdDao" class="io.github.carlos_emr.carlos.commn.dao.OtherIdDAO" autowire="byName" />

	<bean id="CaseManagementIssueDAO" class="io.github.carlos_emr.carlos.casemgmt.dao.CaseManagementIssueDAO" autowire="byName" />
	<bean id="caseManagementIssueDAO" class="io.github.carlos_emr.carlos.casemgmt.dao.CaseManagementIssueDAO" autowire="byName" />
	<bean id="CaseManagementNoteDAO" class="io.github.carlos_emr.carlos.casemgmt.dao.CaseManagementNoteDAO" autowire="byName" />
	<bean id="caseManagementNoteDAO" class="io.github.carlos_emr.carlos.casemgmt.dao.CaseManagementNoteDAO" autowire="byName" />
	<bean id="CaseManagementNoteExtDAO" class="io.github.carlos_emr.carlos.casemgmt.dao.CaseManagementNoteExtDAO" autowire="byName" />
	<bean id="CaseManagementNoteLinkDAO" class="io.github.carlos_emr.carlos.casemgmt.dao.CaseManagementNoteLinkDAO" autowire="byName" />
	<bean id="CaseManagementCPPDAO" class="io.github.carlos_emr.carlos.casemgmt.dao.CaseManagementCPPDAO" autowire="byName" />
	<!-- bean id="demoExpListDao" class="io.github.carlos_emr.carlos.commn.dao.DemographicToExportPCDS_Dao" autowire="byName" / -->
	<!-- bean id="diseaseRegistryPCDSDao" class="io.github.carlos_emr.carlos.commn.dao.DiseaseRegistryPCDS_Dao" autowire="byName" / -->
	
	
	<bean id="AppointmentArchiveDao" class="io.github.carlos_emr.carlos.commn.dao.AppointmentArchiveDao" autowire="byName" />
	<bean id="DxDao" class="io.github.carlos_emr.carlos.commn.dao.DxDao" autowire="byName" />
	<bean id="CasemgmtNoteLockDao" class="io.github.carlos_emr.carlos.commn.dao.CasemgmtNoteLockDao" autowire="byName" />
	
	<bean id="AllergyDao" class="io.github.carlos_emr.carlos.commn.dao.AllergyMergedDemographicDao" autowire="byName" />
	<bean id="allergyDao" class="io.github.carlos_emr.carlos.commn.dao.AllergyMergedDemographicDao" autowire="byName" />
	
	<bean id="IssueDAO" class="io.github.carlos_emr.carlos.casemgmt.dao.IssueDAO" autowire="byName" />
	<bean id="secroleDao" class="io.github.carlos_emr.carlos.daos.security.SecroleDao" autowire="byName"/>
	<bean id="RoleProgramAccessDAO" class="io.github.carlos_emr.carlos.casemgmt.dao.RoleProgramAccessDAO" autowire="byName" />
	<bean id="clientImageDAO" class="io.github.carlos_emr.carlos.casemgmt.dao.ClientImageDAO" autowire="byName" />
	<bean id="programProviderDAO" class="io.github.carlos_emr.carlos.PMmodule.dao.ProgramProviderDAO" autowire="byName" />
	<bean id="programFunctionalUserDAO" class="io.github.carlos_emr.carlos.PMmodule.dao.ProgramFunctionalUserDAO" autowire="byName" />
	<bean id="programAccessDAO" class="io.github.carlos_emr.carlos.PMmodule.dao.ProgramAccessDAO" autowire="byName" />
	<bean id="defaultRoleAccessDAO" class="io.github.carlos_emr.carlos.PMmodule.dao.DefaultRoleAccessDAO" autowire="byName" />
	<bean id="programClientStatusDAO" class="io.github.carlos_emr.carlos.PMmodule.dao.ProgramClientStatusDAO" autowire="byName" />
	<bean id="programTeamDAO" class="io.github.carlos_emr.carlos.PMmodule.dao.ProgramTeamDAO" autowire="byName" />
	<bean id="bedProgramDao" class="io.github.carlos_emr.carlos.caisi.dao.BedProgramDao" autowire="byName" />
	<bean id="demographicDao" class="io.github.carlos_emr.carlos.commn.dao.DemographicDao" autowire="byName" />
	<bean id="secUserRoleDao" class="io.github.carlos_emr.carlos.PMmodule.dao.SecUserRoleDao" autowire="byName" />
	<bean id="programSignatureDao" class="io.github.carlos_emr.carlos.PMmodule.dao.ProgramSignatureDao" autowire="byName" />
	<bean id="programClientRestrictionDAO" class="io.github.carlos_emr.carlos.PMmodule.dao.ProgramClientRestrictionDAO" autowire="byName" />
	<bean id="UserPropertyDAO" class="io.github.carlos_emr.carlos.commn.dao.UserPropertyDAO" autowire="byName" />
	<bean id="clinicDAO" class="io.github.carlos_emr.carlos.commn.dao.ClinicDAO" autowire="byName" />
	<bean id="dataExportDAO" class="io.github.carlos_emr.carlos.commn.dao.DataExportDao" autowire="byName" />
	<bean id="siteDao" class="io.github.carlos_emr.carlos.commn.dao.SiteDao" autowire="byName" />
	<bean id="BillingmasterDAO" class="io.github.carlos_emr.carlos.billings.ca.bc.data.BillingmasterDAO" autowire="byName" />
	<bean id="BillingPreferencesDAO" class="io.github.carlos_emr.carlos.billings.ca.bc.data.BillingPreferencesDAO" autowire="byName" />
	<bean id="PrivateBillTransactionDAO" class="io.github.carlos_emr.carlos.billings.ca.bc.data.PrivateBillTransactionsDAO" autowire="byName" />
	<bean id="SupServiceCodeAssocDAO" class="io.github.carlos_emr.carlos.billings.ca.bc.data.SupServiceCodeAssocDAO" autowire="byName" />
	<bean id="BillingreferralDAO" class="io.github.carlos_emr.carlos.commn.dao.BillingreferralDao" autowire="byName" />
	<bean id="DxresearchDAO" class="io.github.carlos_emr.carlos.commn.dao.DxresearchDAO" autowire="byName" />
	<bean id="Icd9DAO" class="io.github.carlos_emr.carlos.commn.dao.Icd9Dao" autowire="byName" />
	<bean id="defaultIssueDao" class="io.github.carlos_emr.carlos.daos.DefaultIssueDao" autowire="byName" />
	
	<!-- <bean id="rourke2009Dao" class="io.github.carlos_emr.carlos.form.dao.Rourke2009DAO" autowire="byName" /> -->
	<!-- <bean id="Rourke2017Dao" class="io.github.carlos_emr.carlos.form.dao.Rourke2017Dao" autowire="byName"/> -->
  <!-- <bean id="FormBooleanValueDao" class="io.github.carlos_emr.carlos.form.dao.FormBooleanValueDao" autowire="byName"/> -->
	<!-- <bean id="ocanSubmissionLogDao" class="io.github.carlos_emr.carlos.PMmodule.dao.OcanSubmissionLogDao" autowire="byName" /> -->
	<!-- bean id="Perinatal2017Dao" class="io.github.carlos_emr.carlos.form.dao.ONPerinatal2017Dao" autowire="byName"/ -->
	<!-- bean id="Perinatal2017CommentDao" class="io.github.carlos_emr.carlos.form.dao.ONPerinatal2017CommentDao" autowire="byName"/ -->

	<bean id="lookupDao" class="io.github.carlos_emr.carlos.daos.LookupDao" autowire="byName" />
	<!-- <bean id="documentDao" class="io.github.carlos_emr.carlos.document.dao.DocumentMergeDemographicDAO" autowire="byName" /> -->
	<bean id="userAccessDao" class="io.github.carlos_emr.carlos.daos.security.UserAccessDao" autowire="byName" />
	<bean id="providerInboxRoutingDAO" class="io.github.carlos_emr.carlos.commn.dao.ProviderInboxRoutingDao" autowire="byName"/>
	<bean id="ProviderLabRoutingFavoritesDao" class="io.github.carlos_emr.carlos.commn.dao.ProviderLabRoutingFavoritesDao" autowire="byName"/>

    <bean id="queueDocumentLinkDAO" class="io.github.carlos_emr.carlos.commn.dao.QueueDocumentLinkDao" autowire="byName"/>

	<bean id="inboxResultsDao" class="io.github.carlos_emr.carlos.commn.dao.InboxResultsDao" autowire="byName" />
	
	<!-- Dao classes that implement OscarSuperDao -->
	<bean id="providerSuperDao" class="io.github.carlos_emr.carlos.dao.ProviderDao" autowire="byName" />
	
	
	<bean id="template" class="org.springframework.orm.hibernate3.HibernateTemplate">  
    <property name="sessionFactory" ref="sessionFactory"></property>  
  </bean>  

	<bean id="hibernateTestDao" class="io.github.carlos_emr.carlos.util.HibernateTestDao">
    <property name="template" ref="template"/>
	</bean>
		

		
		
</beans>
